.container-fluid{
    background-color: var(--background-color);
    .sidbar{
        height: 100vh;
        border-right: 1px solid black;
    }

}

.btn-primary{
    background-color:var(background-color);
    border: none;
    color: var(--text-color);
}
ul{
    li{
       list-style: none; 
    }

}
a{
    text-decoration: none;
    color: var(--text-color);
}

.nav-item:hover{
        background-color: var( --hover-color);
 }
