<div class="container-fluid p-0 m-0 ">
 <div class="col-12 p-0 m-0 d-flex flex-row justify-content-between">
    <a class="navbar-brand" [routerLink]="['/app/home']"><img src="assets/images/logoschool.png" alt="logoschool"></a>
    <div class="user mr-5">
        <ul class="navbar-nav mr-auto d-flex flex-row align-items-center">
            <li class="notifications">
               <a [routerLink]="['/app/home']">
                <div class="conter">{{conter}}</div>
                <i class="fa fa-bell-o mr-5" aria-hidden="true"></i>
               </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex flex-row align-items-center"id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  <img class="icon-user" src="assets/images/icon-256x256.png" alt="">
                  <p class="p-2">user Name</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/app/home']" translate>navbar.action</a>
                  <a class="dropdown-item" [routerLink]="['/app/home']" translate>navbar.another_action</a>
                  <a class="dropdown-item" [routerLink]="['/app/home']" translate>navbar.log_out</a>
                  <div>
                    <hr>
                  </div>
                  <div class="d-flex justify-content-between flex-row">
              <button class="btn btn-primary d-flex justify-content-center" (click)="changeLanguage('en')" translate>navbar.english</button>
              <button class="btn btn-primary d-flex justify-content-center"  (click)="changeLanguage('ar')" translate>navbar.arabic</button>
              <button class="toggle" (click)="switchTheme()">
                {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
              </button>
            </div>
                </div>
              </li>
          </ul>
    </div>
 </div>
</div>