
<div class="container-fluid mt-5">

  <div class="col-12 d-flex flex-row">
    <h2 class="configurations" >Configurations</h2> 
    <a class="pl-2 school-link" [routerLink]="['/app/configurations']" translate> <h3 >school_info</h3></a>
  </div>
    <div class="col-12 school-info p-0">
      <div class="col-12  p-5">
        <h1 class="school-title" translate>school.school_informtions</h1>
        <div class="col-12">
          <hr>
        </div>

        <form [formGroup]="schoolInfoForm" (ngSubmit)="onSubmit()" novalidate > 
            <div class=" d-flex flex-column mb-5">
                <label for="" translate>school.school_name</label>
                <div class=" input-group-lg ">
                    <input type="text" formControlName="shcoolName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
              <div class=" d-flex flex-column mb-5">
                <label for="" translate>school.school_address</label>
                <div class=" input-group-lg ">
                    <input type="text" formControlName="schoolAddress" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
              <div class=" d-flex flex-column mb-5">
                <label for=""translate>school.school_website</label>
                <div class="input-group-lg ">
                    <input type="text" formControlName="schooWebsite" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
              <div class=" d-flex flex-column mb-5">
                <label for="" translate>school.school_logo</label>
                <div class="input-group-lg">
                    <div class="custom-file">
                      <input formControlName="schoolLogo" type="file" class="custom-file-input" id="input">
                      <label class="custom-file-label" for="input" translate>school.choose_file</label>
                    </div>
                    
                  </div>
                  
              </div>
             <div class="col-12">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary"translate>school.save</button>
                </div>
             </div>
        </form>
    </div>

    <div class="col-12 mt-5 p-5 mb-3" >
      <form [formGroup]="schoolInfoForm" (ngSubmit)="onSubmit()" novalidate > 
        <div class=" d-flex flex-column mb-5">
          <label for="" translate>school.academic_year</label>
          <div class=" input-group-lg d-flex flex-row align-items-center">
              <input type="text" formControlName="shcoolName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              <a >
                <div class="icon  ml-3">
                  <i class="fa fa-plus text-center d-flex align-items-center justify-content-center pt-1" aria-hidden="true"></i>
                </div>
              </a>
          </div>
        </div>
    </form>
    <div class="table">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col" translate>school.academic_year</th>
            <th scope="col" translate>school.status</th>
            <th scope="col" translate>school.action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of academicYearData">
            <td>{{item.yeaar}}</td>
            <td>{{item.status}}</td>
            <td>
              <div class="dropdown">
                <button class="action" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <button class="mb-1 btn-block d-flex justify-content-start align-items-center">
                  <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
                  edit
                 </button>
                 <button class="mb-1 btn-block d-flex justify-content-start align-items-center">
                  <i class="fa fa-trash-o mr-2" aria-hidden="true"></i>
                  delete
                 </button>
                
                </div>
              </div>
            </td>
          </tr>
     
        </tbody>
      </table>
    </div>
    </div>
    </div>
    
</div>