


.configurations{
    color: var(--secondary-color-text);
}

.school-info{
    background-color:var(--background-color);
    .school-title{
        color: var(--secondary-color-text);
    }
    .school-link{
      
        background-color: var(--secondary-color-text);
    }
}
.form-control{
    background-color: var(--primary-background-color);
}
.custom-file-label{
    background-color: var(--primary-background-color);

}

.btn-primary{
    width: 120px;
    height: 40px;
    background-color:var(--secondary-background-color);
}
.action{
    background:none;
    border: none;

}
.btn-block{
    background:none;
border: none; 

}

.btn-block:hover{
    border-left: solid 5px var(--secondary-background-color); 
    background-color:var(--primary-background-color);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid var(--secondary-color-text);
}

.schoolInfoForm{
    color: var(--text-color);

}
.label-text{
    color: var(--text-color);
}
